<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="row">
      <div class="column">
        <img
          src="https://i.dlpng.com/static/png/5449541-blue-ball-free-images-at-clkercom-vector-clip-art-online-blue-ball-png-2400_2400_preview.png"
          style="width:100%">
      </div>
      <div class="column">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LACMTA_Circle_Red_Line.svg/1200px-LACMTA_Circle_Red_Line.svg.png"
          style="width:80%">
      </div>
      <div class="column">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yellow_icon.svg/1024px-Yellow_icon.svg.png"
          style="width:80%">
      </div>
      <div class="column">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Pan_Green_Circle.png/480px-Pan_Green_Circle.png"
          style="width:80%">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <center>
    <img
      src="https://media.discordapp.net/attachments/810607487404736594/824040337193566228/bbe08d8e2f188ae9b0702d96e5f4065d.png"
      style="width:80%">
    <br>
    <h1><b>New Features</b></h1>
    <br>
    <ul>
      <p>Notas de atualização 01.....</p>
      <p>Notas de atualização 02.....</p>
      <p>Notas de atualização 03.....</p>
      <p>Notas de atualização 04.....</p>
      <p>Notas de atualização 05.....</p>
      <p>Notas de atualização 06.....</p>
      <p>Notas de atualização 07.....</p>
    </ul>
    <br>
    <h2>Version: 1.0</h2>
  </center>
</ion-content>
