<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <span id="circle-big-border">
            <span id="circle-big"></span>
          </span>
        </ion-col>
        <ion-col size="8" style="display:flex">
          <div class="circle-small circle-red"></div>
          <div class="circle-small circle-yellow"></div>
          <div class="circle-small circle-green"></div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <center>
    <img
      src="https://media.discordapp.net/attachments/810607487404736594/824040337193566228/bbe08d8e2f188ae9b0702d96e5f4065d.png"
      style="width:80%">
    <br>
    <h1><b>New Features</b></h1>
    <br>
    <ul>
      <li>Fix: arrumado o bug onde, quando um Pokemon havia apenas um tipo, o quadrado do tipo 2 não sumia.</li>
      <br>
      <li>Add: mudanças estéticas na toolbar</li>
      <br>
      <li>Add: mudanças estéticas na Poke List</li>
    </ul>
    <br>
    <h2>Version: 1.2.1</h2>
  </center>
</ion-content>
