

<ion-content padding color = "danger">
  <ion-item>
    <ion-label>Ajuda</ion-label>
    <ion-button (click) = "CloseModal()" size = "small"  slot ="end">Fechar</ion-button>
  </ion-item>
  <ion-row>
    <h1 (click)="hide()">Objetivo:</h1>
      <ul  *ngIf="hideMe">
        <li>
          Aplicativo com intuito institucional para a materia de Computação para Dispositivos Moveis!
        </li>
      </ul> 
  </ion-row>
  <ion-row>
    <h1 (click)="hide2()">O que é o App:</h1>
      <ul  *ngIf="hideMe2">
        <li>
          O aplicativo consiste em uma pokedex que tem como objetivo guardar os seus pokemons e consultar as informações dos demais pokemons.
        </li>
      </ul> 
  </ion-row>
  <ion-row>
    <h1 (click)="hide1()">Fale Conosco</h1>
    <ul  *ngIf="hideMe1">
      <li>
        <p><a href = "http://jean.yugi@hotmail.com">Fale Conosco</a></p>
      </li>
    </ul> 
  </ion-row>
</ion-content>
