<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="row">
      <div class="column">
    <img src="https://i.dlpng.com/static/png/5449541-blue-ball-free-images-at-clkercom-vector-clip-art-online-blue-ball-png-2400_2400_preview.png"  style="width:100%">
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LACMTA_Circle_Red_Line.svg/1200px-LACMTA_Circle_Red_Line.svg.png"  style="width:80%">
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Yellow_icon.svg/1024px-Yellow_icon.svg.png" style="width:80%">
  </div>
  <div class="column">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Pan_Green_Circle.png/480px-Pan_Green_Circle.png"  style="width:80%">
  </div>
</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Inventory"></app-explore-container>
</ion-content>
