<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row> 
      <ion-col size="4">
        <span id="circle-big-border">
          <span id="circle-big"></span>
        </span>
      </ion-col>
      <ion-col size="8" style="display:flex">
        <div class="circle-small circle-red"></div>
        <div class="circle-small circle-yellow"></div>
        <div class="circle-small circle-green"></div>
      </ion-col>
      
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-reorder-group disabled="false">
  <ion-list>
    <ion-item *ngFor="let pokemon of PkmnParty">
      <ion-thumbnail slot="start">
        <img src="{{pokemon.img}}">
      </ion-thumbnail>
      <ion-label class="ion-text-capitalize">{{pokemon.uniqueId}} added</ion-label>
      <!-- <ion-button slot="end" /*[routerLink] = "['/tabs/tab5']" routerDirection = "forward" (click)="updateCurrentPokemon(pokemon.id, pokemon.uniqueId)"><ion-icon name="create"></ion-icon></ion-button> -->
      <ion-button slot ="end" color="danger" (click)="deletePokemon(pokemon.uniqueId)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-reorder-group>
</ion-content>
<!-- a -->