ion-header{

    --ion-background-color:#cc0000;
}
ion-content{

    --ion-background-color:#e44040;
}
.column {
    float: left;
    width: 11%;
    padding: 10px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }